* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background {
    display: flex;
    min-width: 50%;
    min-height: 100vh;
    background: rgb(55, 61, 123);
    background: linear-gradient(
        160deg,
        rgba(55, 61, 123, 1) 0%,
        rgba(63, 66, 102, 1) 42%,
        rgba(59, 63, 121, 1) 100%
    );
}

.background img {
    width: 70%;
}

.authentication a {
    color: rgb(163, 163, 163);
    font-size: calc(0.5em + 1vmin);
}

.content,
.contents {
    background-color: #393b4b;
    width: 100%;
}

.blue {
    color: rgb(88, 153, 219);
}

.content .body-content {
    height: 90%;
    display: flex;
}

ul li {
    font-size: 11px;
}

.content form {
    width: 50%;
}
.content form .group,
.contents .navigation form .group,
.navigation form .search-nav {
    position: relative;
}

.content form .group img,
.contents .navigation form img {
    position: absolute;
}

.content form .group .icon {
    padding: 10px;
    min-width: 40px;
    height: 100%;
    background-color: rgb(52, 127, 201);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.navigation form .group .icon-search {
    cursor: pointer;
}

.contents .navigation form .group .icon {
    padding: 10px;
    min-width: 40px;
    height: 100%;
}

.content form .group .input {
    padding: 0.5em 0.5em 0.5em 3.5em;
    border-radius: 12px;
    width: 100%;
}

.contents .navigation form .group .input {
    padding: 0.5em 0.5em 0.5em 3.5em;
    border-radius: 12px;
    background-color: #2d303e;
    color: white;
    border: 1px solid #393c49;
}

section {
    background-color: #393b4b;
    min-height: 100vh;
    position: relative;
}

.headers h2 {
    font-size: calc(0.5em + 2vmin);
}

.headers p,
.categories .ctg p,
.detail .descriptions p,
.penarikan p,
.manage-ctg a,
.body-content p {
    font-size: calc(0.5em + 1vmin);
}

.detail .descriptions .add-cart h3 {
    font-size: calc(0.8em + 2vmin);
}

.orders label {
    font-size: calc(0.5em + 1vmin);
}

.categories {
    width: 100%;
    overflow: auto;
}

.sidebar {
    background-color: #262730;
    width: 80px;
    max-height: 100vh;
}

.sidebar img {
    width: 30px;
}

.body-contents .categories .ctg .bottom {
    height: 2px;
    background-color: rgb(88, 153, 219);
}

.items {
    height: 100%;
}
.items .foods img {
    width: 270px;
    border-radius: 10px;
}

.items .foods {
    position: relative;
}

.items .foods .bg {
    width: 100%;
    background-color: #262730;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.items .foods .bg {
    position: absolute;
    bottom: 0px;
}

.overlay {
    display: none;
}

.overlay.active {
    display: block;
    width: 100%;
    background-color: black;
    position: absolute;
    height: 100%;
    opacity: 0.6;
}

.cart-payment {
    position: absolute;
    right: 0px;
    top: -1000px;
    transition: 1s;
    width: 300px;
    background-color: #393b4b;
    box-shadow: 5px 1px 8px 5px rgb(83, 83, 83);
}

.cart-payment.active {
    top: 0px;
    transition: 1s;
}

hr {
    color: white;
}

.cart-payment .cart-item img {
    width: 80px;
    height: fit-content;
}

.cart-payment .cart-item .desc p {
    font-size: 12px;
}

.cart-payment .cart-item span {
    background-color: #696a71;
    height: 100%;
    color: white;
    border-radius: 5px;
}

.cart-payment .cart-item button {
    background-color: transparent;
    border: 0;
    width: fit-content;
}
.cart-payment .cart-item .trash {
    width: 25px;
}

.cart-payment .carts {
    height: 350px;
    overflow: auto;
}

.cart-payment .checkout,
.penarikan button {
    background: rgb(88, 154, 219);
    background: linear-gradient(
        160deg,
        rgba(88, 154, 219, 1) 0%,
        rgba(92, 99, 197, 1) 100%
    );
    width: 100%;
    color: white;
}

.cart-payment .close {
    background-color: transparent;
    border: 0;
}

.cart-payment .close img {
    width: 25px;
}

.body-contents .back img {
    width: 30px;
}

.header-contents .back img {
    width: 25px;
}

.detail {
    display: flex;
}

.detail img {
    width: 500px;
    border-radius: 10px;
}

.detail .descriptions {
    width: 100%;
    padding: 0.5em 1em;
}

.detail .descriptions form input {
    width: 50px;
}

.detail .descriptions .add-cart button {
    border: 1px solid #589adb;
    border-radius: 5px;
    background-color: transparent;
}
.detail .descriptions .add-cart img {
    width: 35px;
}

.headers-dashboard .info {
    background-color: #212529;
    border-radius: 8px;
}

.headers-dashboard .info span {
    background-color: #393c49;
    border-radius: 5px;
}

.table-report {
    background-color: #212529;
    border-radius: 8px;
}

.penarikan {
    background-color: #212529;
    border-radius: 8px;
    height: fit-content;
    width: 30%;
    margin-left: 1em;
}

.penarikan img {
    width: 120px;
}

.navigation .manage-ctg {
    background-color: transparent;
    border: 1px solid rgb(131, 131, 131);
}

.add-item a .add {
    width: 270px;
    height: 100%;
    background-color: transparent;
    border: 2px dashed #589adb;
    border-radius: 10px;
}

.add-item a .add .plus {
    font-size: 24px;
}

.add-item a .add p {
    margin-bottom: 0;
}

.form-add {
    width: 60%;
}

.form-add .btn-add {
    background: rgb(88, 154, 219);
    background: linear-gradient(
        160deg,
        rgba(88, 154, 219, 1) 0%,
        rgba(92, 99, 197, 1) 100%
    );
    width: fit-content;
    color: white;
}

.orders form select {
    height: fit-content;
    padding: 0.5em;
    background-color: #212529;
    border-radius: 8px;
    border: 1px solid #696c6f;
    font-size: calc(0.5em + 1vmin);
}

.my-carts {
    position: fixed;
    bottom: 20px;
    right: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px rgb(110, 110, 110);
    display: none;
}

.navigation {
    display: flex;
}

@media only screen and (max-width: 1150px) {
    .detail {
        flex-direction: column;
    }
}

@media only screen and (max-width: 950px) {
    .content-dashboard {
        flex-direction: column;
    }

    .content-dashboard .web {
        display: none;
    }

    .penarikan {
        width: 100%;
        margin-left: 0;
        margin-top: 1em;
    }
}

@media only screen and (max-width: 870px) {
    .background {
        display: none;
    }

    .content .body-content {
        min-height: 100vh;
    }
}

@media only screen and (max-width: 678px) {
    .items .foods img {
        width: 100%;
    }

    .navigation .listCart {
        display: none;
    }

    .my-carts {
        display: block;
    }

    .detail img {
        width: 90%;
    }

    .body-contents .back img {
        width: 15px;
    }

    .add-item {
        display: none;
    }

    .form-add {
        width: 100%;
    }

    .header-contents .back img {
        width: 15px;
    }
}

@media only screen and (max-width: 560px) {
    .navigation {
        display: none;
    }

    .detail .descriptions {
        padding: 0;
    }

    .manage-ctg p {
        display: none;
    }

    .content form {
        width: 80%;
    }
}
@media only screen and (max-width: 420px) {
    .categories {
        width: 200px;
    }
}
